# Server Configuration
PORT=3000
# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/internship_db?sslmode=disable
# JWT Authentication
JWT_ACCESS_SECRET_KEY="your_jwt_access_secret_key_here"